
@{
	ViewBag.Title = "DelAdmin";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<md-card flex flex-gt-xs="50" class="md-wd">
	<h2 layout="row" layout-align="center center">Search</h2>
	<md-card-content class="loginBackground">
		<form name="Search">
			<div layout="row" flex>
				<md-input-container layout="column" flex>
					<label>Name</label>
					<input name="Name" ng-model="Name" required md-maxlength="30">
					<div ng-messages="Search.Name.$error" ng-show="Search.Name.$dirty">
						<div ng-message="required">This is required!</div>
						<div ng-message="md-maxlength">That's too long!</div>
						<div ng-message="minlength">That's too short!</div>
					</div>
				</md-input-container>
				<md-input-container layout="column" flex>
					<label>Surname</label>
					<input name="Surname" ng-model="Surname" required md-maxlength="30">
					<div ng-messages="Search.Surname.$error" ng-show="Search.Surname.$dirty">
						<div ng-message="required">This is required!</div>
						<div ng-message="md-maxlength">That's too long!</div>
						<div ng-message="minlength">That's too short!</div>
					</div>
				</md-input-container>
			</div>
			<md-input-container layout="column">
				<label>Subject Detials</label>
				<input name="subDetial" ng-model="subDetial" required md-maxlength="10">
				<div ng-messages="Search.subDetial.$error" ng-show="Search.subDetial.$dirty">
					<div ng-message="required">This is required!</div>
					<div ng-message="md-maxlength">That's too long!</div>
					<div ng-message="minlength">That's too short!</div>
				</div>
			</md-input-container>
		</form>
	</md-card-content>

	<md-card-content layout="row" layout-align="center center">
		<md-button class="btnBlue">Search</md-button>
	</md-card-content>
</md-card>
