
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<md-content flex="20" md-whiteframe="3" style="background-color: white;">
    <md-input-container layout="column">
        <h4 layout="row" layout-align="center center">Please Note That</h4>
        <textarea disabled rows="6" cols="50">
You have 1 test who has no students!

You have 7 falged questions that need your attention!

Statistics:
    * Set Tests: 4
    * Written Tests: 3
    * Registered Students: 146
    * Overall Test Average: 79%
                    </textarea>
    </md-input-container>
</md-content>

