<footer>
    <md-toolbar class="md-scroll-shrink">
        <div layout="column" layout-align="space-around center">
            <p>
                Done by: D Warwick & G.A Aggenbach
                <br /> WRRV301 Project - 2018
            </p>
        </div>
    </md-toolbar>

</footer>