        <image id="loadPenguins" src="/Content/Images/penguins.jpg"></image>
        <h1 layout="column" layout-align="center center">Query Runner</h1>
        <span flex="20"></span>
        <h1 layout="row" layout-align="start end">@ViewBag.HeaderName</h1>
        <span flex></span>