<header>
    <md-toolbar layout="row" md-scroll-shrink>
        <image id="loadPenguins" src="../res/penguins.jpg"></image>
        <h1 layout="column" layout-align="center center">Query Runner</h1>
        <span flex="20"></span>
        <h1 layout="row" layout-align="start end">@ViewBag.HeaderName</h1>
        <span flex></span>
        <md-content layout="row" class="headerContent">
            <md-content layout="column" layout-align="center center" class="headerContent">
                <label>Camp, Jeremy</label>
                <label>s246819442</label>
                <label>Computer: 4-09</label>
            </md-content>
            <md-button>Log Out</md-button>
        </md-content>
    </md-toolbar>
</header>