
@{
	ViewBag.Title = "Create Test";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model QueryRunner.Models.CreateTestViewModel

<h2>Create New Test</h2>
<div class="modal-body">
	@using (Html.BeginForm("CreateTest", "Test", FormMethod.Post, new { @id = "addTest", @class = "form-horizontal" })) {
		@Html.AntiForgeryToken()
		<div class="form-group text-left">
			<label class="control-label textLeft col-md-4" for="TestName">Test Name:</label>
			<div class="col-md-8">
				<input class="form-control, login-input" data-val="true" data-val-required="The test name field is required." id="TestName" name="TestName" placeholder="Test Name" type="text" value="" />
				<span class="field-validation-valid text-danger" data-valmsg-for="TestName" data-valmsg-replace="true"></span>
			</div>
		</div>
		<div class="form-group text-left">
			<label class="control-label textLeft col-md-4" for="TestDate">Test Date:</label>
			<div class="col-md-8">
				<input class="form-control, login-input" data-val="true" data-val-required="The test date field is required." id="TestDate" name="TestDate" placeholder="TestDate" type="date" value="" />
				<span class="field-validation-valid text-danger" data-valmsg-for="TestDate" data-valmsg-replace="true"></span>
			</div>
		</div>
		<div class="form-group text-left">
			<label class="control-label textLeft col-md-4" for="TestStartTime">Start Time:</label>
			<div class="col-md-8">
				<input class="form-control, login-input" data-val="true" data-val-required="The start time field is required." id="TestStartTime" name="TestStartTime" placeholder="TestStartTime" type="time" value="" />
				<span class="field-validation-valid text-danger" data-valmsg-for="TestStartTime" data-valmsg-replace="true"></span>
			</div>
		</div>
		<div class="form-group text-left">
			<label class="control-label textLeft col-md-4" for="TestEndTime">End Time:</label>
			<div class="col-md-8">
				<input class="form-control, login-input" data-val="true" data-val-required="The end time field is required." id="TestEndTime" name="TestEndTime" placeholder="TestEndTime" type="time" value="" />
				<span class="field-validation-valid text-danger" data-valmsg-for="TestEndTime" data-valmsg-replace="true"></span>
			</div>
		</div>
		<div class="form-group text-left">
			<label class="control-label textLeft col-md-4" for="NumberOfQuestions">Number of Questions:</label>
			<div class="col-md-8">
				<input class="form-control, login-input" data-val="true" data-val-required="The number of questions field is required." id="NumberOfQuestions" name="NumberOfQuestions" placeholder="NumberOfQuestions" type="number" min="1" step="1" value="1" />
				<span class="field-validation-valid text-danger" data-valmsg-for="NumberOfQuestions" data-valmsg-replace="true"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-4 col-md-8"><input type="submit" value="Next Step" class="btn btn-primary btn-outline" /></div>
		</div>
	}
</div>


