@model QueryRunner.Models.StudentTestQuestionAnswerModel

@{
	ViewBag.Title = "ViewTest";
	Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<md-content class="bodyMargin" layout="column">
    <md-content layout="row">

        <md-content>
            @using (Html.BeginForm("ViewTest", "Test", FormMethod.Post))
        {
            <md-card id="curQuestions">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title" id="qTitle">Question @Html.DisplayTextFor(cur => cur.QuestionNum)</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <p id="qQuestion">@Html.DisplayTextFor(cur => cur.QuestionText)</p>
                    <p>Enter you answer HERE: </p>
                    <div id="qAnswer">@Html.TextAreaFor(cur => cur.QuestionAnswer, 7, 300, null)</div>
                </md-card-content>


                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="btnBlue">Paste</md-button>
                    <span flex></span>
                    <input class="btnBlue" type="submit" value="Submit" />
                    <md-button class="btnBlue">Clear</md-button>
                </md-card-actions>
            </md-card>
    }

        </md-content>

        <div layout="column" style="width:380px">
            <md-content md-whiteframe="3" class="whiteBackground">
                <md-input-container layout="column" style="width:380px">
                    <label>Type your query here:</label>
                    <textarea rows="6" cols="100" style="width:380px"></textarea>
                </md-input-container>
                <div layout="row">
                    <md-button layout="row" layout-align="center center" class="btnBlue">RUN</md-button>
                    <md-button layout="row" layout-align="center center" class="btnBlue">COPY</md-button>
                </div>
            </md-content>
        </div>

    </md-content>
</md-content>

<script>
	//$("#qAnswer").val("");
</script>