@model List<QueryRunner.Models.TestViewModel>

@{
	ViewBag.Title = "ViewTest";
	Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<md-content class="bodyMargin" layout="column">
	<md-content layout="row">



		<div layout="column">
			<md-list md-whiteframe="3" class="whiteBackground" layout-fit>
				<md-subheader class="md-primary md-hue-1">Questions</md-subheader>
				@foreach (var item in Model)
				{
					<md-list-item>
						<p>
							<a onclick="ShowQuestion(@Html.ValueFor(modelItem => item.QuestionID))">Question @item.QuestionNum</a>
						</p>
					</md-list-item>
				}
			</md-list>
			<md-content md-whiteframe="3" class="whiteBackground">
				<md-input-container layout="column">
					<label>Type your query here:</label>
					<textarea rows="6" cols="50"></textarea>
				</md-input-container>
				<md-button layout="row" layout-align="center center" class="btnBlue">Copy</md-button>
			</md-content>
		</div>


		<md-content>
			<md-card id="curQuestions">
				@foreach (var item in Model)
				{
					@Html.Action("pViewQuestion","Test", new { Qid = item.QuestionID, Qnum = item.QuestionNum, Question = item.QuestionText });
				}
			</md-card>
		</md-content>
	</md-content>
	<image ng-src="Res/database.PNG"></image>
</md-content>

<script>
	function ShowQuestion(id) {
		$(function () {
			$(".showQuestion").css("display", "none");
			$("#showQuestion" + id).css("display", "block");
		});
	}
</script>